[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/tmuxline.vim"]
	path = vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/vim-bufferline"]
	path = vim/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/jellybeans.vim"]
	path = vim/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/bundle/taglist.vim"]
	path = vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-easygrep"]
	path = vim/bundle/vim-easygrep
	url = https://github.com/dkprice/vim-easygrep.git
[submodule "vim/bundle/vim-flavored-markdown"]
	path = vim/bundle/vim-flavored-markdown
	url = https://github.com/jtratner/vim-flavored-markdown.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
